a {
    all: unset;
}

html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-attachment: fixed;
    font-family: sans-serif;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

.title {
    position: fixed;
    font-style: italic;
    color: rgb(238, 255, 0);
    text-shadow: 2px 2px 2px #ff6dfb;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#web {
    font-size: 2vw;
    top: 50%;
    left: 50%;
}

#sunbeam {
    font-size: 2vw;
    top: 40%;
    left: 40%;
}

#brushwork {
    font-size: 2vw;
    top: 60%;
    left: 60%;
}

#cosmology {
    font-size: 2vw;
    top: 60%;
    left: 40%;
}

.background {
    width: 100%;
    animation: breathe 3333333ms infinite alternate;
    background: rgb(2, 0, 17);
    background: linear-gradient(90deg,
    rgba(2, 0, 17, 1) 0%,
    rgba(101, 255, 242, 1) 47%,
    rgba(101, 255, 242, 1) 53%,
    rgba(2, 0, 17, 1) 100%);
}
