<!doctype html>
<html lang="en-us" class="background">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Euclidean Dreams</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" media="screen"/>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">

</head>

<body>
<div id="background">
    <div class="title" id="web">
        <span><a href="https://proscenium-web-wtci2outba-wl.a.run.app/">(~)</a></span>
    </div>

    <div class="title" id="sunbeam">
        <span><a href="https://proscenium-sunbeam-wtci2outba-wl.a.run.app/">sunbeam</a></span>
    </div>

    <div class="title" id="brushwork">
        <span><a href="https://proscenium-brushwork-wtci2outba-wl.a.run.app/">brushwork</a></span>
    </div>
</div>

</body>

</html>

<!--

An exploration of whimsical cosmologies.
In time, there will be more.
Source Code: github.com/euclidean-dreams/euclid

(~)

-->
